.button{
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 4vh;
  margin-top: 2vh;
  font-size: 2.5vh;
  font-family: Anton;
}

.button:hover{
  text-decoration: underline;
  text-decoration-color: orange;
}

.button:active{
  color: orange;
}

.bullets{
  background-color: transparent;
  color: white;
  border: 2px solid orange;
  border-radius: 15px;
  font-size: 2vh;
  font-family: Droid Sans;
  margin-left: 5vh;
}

.bullets:hover{
  background-color: orange;
}

.bullets:active{
  background-color: dodgerblue;
}

.slideImage{
  width: 100%;
  height: 56.25%;
  opacity: 95%;
  margin-top: 5px;
  margin-bottom: 4px;
  max-height: 56vh;
}

.slideButton{
  position: absolute;
  bottom: 60vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: white;
  border: solid 2px orange;
}

.btnRight{
  right: 0;
}

.btnLeft{
  left: 0;
}

.slideButton:active{
  background-color: transparent;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
