body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  background-image: linear-gradient(dodgerblue, #66b3ff);
}

.button{
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 4vh;
  margin-top: 2vh;
  font-size: 2.5vh;
  font-family: Anton;
}

.button:hover{
  text-decoration: underline;
  text-decoration-color: orange;
}

.button:active{
  color: orange;
}

.bullets{
  background-color: transparent;
  color: white;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 2vh;
  font-family: Droid Sans;
  margin-left: 5vh;
}

.bullets:hover{
  background-color: orange;
}

.bullets:active{
  background-color: dodgerblue;
}

.slideImage{
  opacity: 95%;
  width: 100vh;
}

.slideButton{
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: white;
  border: solid 2px black;
}

.btnRight{
}

.btnLeft{
}

.slideButton:active{
  background-color: transparent;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
